.footer-wrapper{
    padding: 100px 0 20px 0;
    background: #000;
    color: #fff;
    @media #{$md} {
        padding: 50px 0 20px 0;
    
    }
    @media #{$xs} {
        padding: 50px 0 20px 0;
    
    }
   
    input::placeholder {
        color: #fff;
        font-size: 15px;
      }
      
        p{
            color: #fff;
            margin-bottom: 120px;
            @media #{$md} {
                margin-bottom: 30px;
            
            }
            @media #{$xs} {
                margin-bottom: 30px;
            
            }
        }
    
        form{
            position: relative;
            label{
                position: absolute;
                right: 0px;
                bottom: -10px;
        }
        }

}
#ContactFormEmail {
	border: none;
	outline: none;
	background: none;
	color: #fff;
	border-bottom: 1px solid #fff;
    width: 100%;
}

.footer__news__latter {
    margin-right: 63px;
    @media #{$lg} {
        margin-right: 10px;
    
    }
    @media #{$md} {
        margin-right: 10px;
    
    }
    @media #{$sm} {
        margin-right: 10px;
    
    }
}
.singel-menu-wrapper{

    @media #{$sm} {
        width: 50%;
        text-align: center;
    
    }
    @media #{$xs} {
        width: 100%;
        text-align: center;
    
    }
 h3{
     color: #fff;
 }
}
.socials{
    fill: #fff;
 
    ul{
        li{
            display: inline-block;

@media #{$md} {
    margin: 0 5px;

}
@media #{$sm} {
    margin: 0 10px;

}
            a{
                svg{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
.footer-bottom-wrapper{
    background: #000;
    color: #fff;
}
.footer_bottom_wrapper_left{
    

    margin: 20px 0px;
    ul{
        li{
            margin: 0px 20px;
    @media #{$md} {
        margin: 0px 14px;
    
    }

            display: inline-block;

        }
    }
}
.footer_bottom_wrapper_right{
    

    margin: 20px 0px;
    p{
        color: #fff;
    }

}


          
.p-30{
    padding-bottom: 30px;
}