

.singel-product-wrapper{

    overflow: hidden;
    
  }
  
  .product-wrapper{
    margin: 124px 0;
    .col-lg-3{
        padding: 0 7px;
  
    }
    .singel-product-wrapper{
      overflow: hidden;
      .review{
        width: 125px;
  ul{
    line-height: 0;
    font-size: 0px;
    li{
        line-height: 0;
        font-size: 0px;
        margin: 0 1px;
        display: inline-block;
    }
  }
        h5{
            display: inline-block;
            font-size: 10px;
        }
    }
  }
  .product-description{
    a{
        h4 {
            font-size: 13px;
            margin-bottom: 6px;
        }
    }
    span{
        font-size: 11px;
  
    }
   p{
    b{
        font-size: 10px;
    }
   }
    }
  }
  .small-image{
    ul{
        li{
            width: 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            height: 25px;
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin: 5px 0;
            
        }
        li.active{
            border: 2px solid #000;
        }
    img{
  
            position: absolute;
            width: 200%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            right: 0 auto;
            
    
    }
        }
    }
  
  
  
  
    .product-title-review-v2{
        a{
            display: block;
        }    
        .review-v2{
            display: block;
            ul{
               display: inline-block;
               li{
                 display: inline-block;
               }
                
            }
            h5{
               display: inline-block;
               font-size: 13px;
               margin-left: 8px;
            }
        }
    } 

    .product-image{
        text-align: center;
        position: relative;
        .proudct-size{
            position: absolute;
            bottom: 10%;
            left: 0;
            width: 100%;
            background-color: #000;
            height: 40px;
            transition: 0.3s all ease-in-out;
            h5{
                color: #fff;
                margin: 7px 0 11px 0;
            }
            ul{
                display: none;
                li{
                    display: inline-block;
                    margin: 0 5px;
                    a{
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
            }
        }
        &:hover .proudct-size{
            height: 70px;
        }
        &:hover .proudct-size ul{
            display: block;
        }
    }



.product-image{
    text-align: center;
    position: relative;
    .proudct-size.proudct-size02{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 10%;
        left: 0;
        width: 100%;
        background-color: #000;
        height: 40px;
        transition: 0.5s all ease-in-out;
        h5{
            color: #fff;
            margin: 7px 0 11px 0;
        }
        ul{
            display: none;
            li{
                display: inline-block;
                margin: 0 5px;
                a{
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }
    &:hover   .proudct-size.proudct-size02{
       opacity: 1;
       visibility: visible;
    }
    &:hover .proudct-size{
        height: 70px;
    }
    &:hover .proudct-size ul{
        display: block;
    }
}